---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 5f97eedf03d39274a13390bf847665f3cb471605
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4872'
      X-Ratelimit-Reset:
      - '1585429744'
      Etag:
      - W/"13dde023403fa5c7447ba488674baaef"
      X-Oauth-Scopes:
      - read:user, repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":241472587,"node_id":"MDEwOlJlcG9zaXRvcnkyNDE0NzI1ODc=","name":"monster_shop_1911","full_name":"benfox1216/monster_shop_1911","private":false,"owner":{"login":"benfox1216","id":49012638,"node_id":"MDQ6VXNlcjQ5MDEyNjM4","avatar_url":"https://avatars1.githubusercontent.com/u/49012638?v=4","gravatar_id":"","url":"https://api.github.com/users/benfox1216","html_url":"https://github.com/benfox1216","followers_url":"https://api.github.com/users/benfox1216/followers","following_url":"https://api.github.com/users/benfox1216/following{/other_user}","gists_url":"https://api.github.com/users/benfox1216/gists{/gist_id}","starred_url":"https://api.github.com/users/benfox1216/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/benfox1216/subscriptions","organizations_url":"https://api.github.com/users/benfox1216/orgs","repos_url":"https://api.github.com/users/benfox1216/repos","events_url":"https://api.github.com/users/benfox1216/events{/privacy}","received_events_url":"https://api.github.com/users/benfox1216/received_events","type":"User","site_admin":false},"html_url":"https://github.com/benfox1216/monster_shop_1911","description":null,"fork":true,"url":"https://api.github.com/repos/benfox1216/monster_shop_1911","forks_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/forks","keys_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/keys{/key_id}","collaborators_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/teams","hooks_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/hooks","issue_events_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/issues/events{/number}","events_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/events","assignees_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/assignees{/user}","branches_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/branches{/branch}","tags_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/tags","blobs_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/git/refs{/sha}","trees_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/git/trees{/sha}","statuses_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/statuses/{sha}","languages_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/languages","stargazers_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/stargazers","contributors_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/contributors","subscribers_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/subscribers","subscription_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/subscription","commits_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/commits{/sha}","git_commits_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/git/commits{/sha}","comments_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/comments{/number}","issue_comment_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/issues/comments{/number}","contents_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/contents/{+path}","compare_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/compare/{base}...{head}","merges_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/merges","archive_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/downloads","issues_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/issues{/number}","pulls_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/pulls{/number}","milestones_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/milestones{/number}","notifications_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/labels{/name}","releases_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/releases{/id}","deployments_url":"https://api.github.com/repos/benfox1216/monster_shop_1911/deployments","created_at":"2020-02-18T21:36:24Z","updated_at":"2020-02-28T17:01:02Z","pushed_at":"2020-02-28T02:30:21Z","git_url":"git://github.com/benfox1216/monster_shop_1911.git","ssh_url":"git@github.com:benfox1216/monster_shop_1911.git","clone_url":"https://github.com/benfox1216/monster_shop_1911.git","svn_url":"https://github.com/benfox1216/monster_shop_1911","homepage":null,"size":424,"stargazers_count":2,"watchers_count":2,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":2,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":2,"open_issues":0,"watchers":2,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":238038629,"node_id":"MDEwOlJlcG9zaXRvcnkyMzgwMzg2Mjk=","name":"D_and_Z_Pet_Place","full_name":"danielpselph/D_and_Z_Pet_Place","private":false,"owner":{"login":"danielpselph","id":52847706,"node_id":"MDQ6VXNlcjUyODQ3NzA2","avatar_url":"https://avatars2.githubusercontent.com/u/52847706?v=4","gravatar_id":"","url":"https://api.github.com/users/danielpselph","html_url":"https://github.com/danielpselph","followers_url":"https://api.github.com/users/danielpselph/followers","following_url[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 5f97eedf03d39274a13390bf847665f3cb471605
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4871'
      X-Ratelimit-Reset:
      - '1585429[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 5f97eedf03d39274a13390bf847665f3cb471605
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4870'
      X-Ratelimit-Reset:
      - '1585429[...]
