---
http_interactions:
- request:
    method: get
    uri: https://chromedriver.storage.googleapis.com/LATEST_RELEASE_80.0.3987
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 13 Feb 2020 19:33:45 GMT
      Etag:
      - '"492ef7f4a53ab59e654c8ed8f7fb63ca"'
      X-Goog-Generation:
      - '1581622425572055'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '13'
      Content-Type:
      - text/plain
      Content-Language:
      - en
      X-Goog-Hash:
      - crc32c=wvNAZQ==
      - md5=SS739KU6tZ5lTI7Y9/tjyg==
      X-Goog-Storage-Class:
      - STANDARD
    body:
      encoding: UTF-8
      string: 80.0.3987.106
  recorded_at: Thu, 02 Apr 2020 15:58:45 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=J7ikFUlkP_k&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "usageLimits",
            "reason": "keyExpired",
            "message": "Bad Request"
           }
          ],
          "code": 400,
          "message": "Bad Request"
         }
        }
  recorded_at: Thu, 02 Apr 2020 15:58:48 GMT
recorded_with: VCR 5.1.0
