---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=J7ikFUlkP_k&key=%E2%80%98AIzaSyDDJIrQ3NEFHBfAJ-GR59o0tBERa3wXN3Q%E2%80%99&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
<<<<<<< HEAD
      - Sun, 29 Mar 2020 19:28:10 GMT
      Expires:
      - Sun, 29 Mar 2020 19:28:10 GMT
=======
      - Mon, 30 Mar 2020 20:56:46 GMT
      Expires:
      - Mon, 30 Mar 2020 20:56:46 GMT
>>>>>>> ce85d84daacbcbd2aade59f91f8833347f14760b
      Cache-Control:
      - private, max-age=0
      X-Content-Type-Options:
      - nosniff
      X-Frame-Options:
      - SAMEORIGIN
      Content-Security-Policy:
      - frame-ancestors 'self'
      X-Xss-Protection:
      - 1; mode=block
      Server:
      - GSE
      Alt-Svc:
      - quic=":443"; ma=2592000; v="46,43",h3-Q050=":443"; ma=2592000,h3-Q049=":443";
        ma=2592000,h3-Q048=":443"; ma=2592000,h3-Q046=":443"; ma=2592000,h3-Q043=":443";
        ma=2592000,h3-T050=":443"; ma=2592000
      Transfer-Encoding:
      - chunked
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "usageLimits",
<<<<<<< HEAD
            "reason": "keyInvalid",
=======
            "reason": "keyExpired",
>>>>>>> ce85d84daacbcbd2aade59f91f8833347f14760b
            "message": "Bad Request"
           }
          ],
          "code": 400,
          "message": "Bad Request"
         }
        }
<<<<<<< HEAD
  recorded_at: Sun, 29 Mar 2020 19:28:10 GMT
=======
  recorded_at: Mon, 30 Mar 2020 20:56:46 GMT
>>>>>>> ce85d84daacbcbd2aade59f91f8833347f14760b
recorded_with: VCR 5.1.0
